# Python environment
.venv/

# API Keys
.env

# Data 
data/
data_inspection.py
movie_embeddings.npy

# Testing files
llm_approach.py
testing_llm_approach.py
testing_traditional_approach.py

__pycache__/    